@model TodoViewModel
@{
    Layout = "_TodoLayout";
}

<h1><a href="/todo">Todo List</a></h1>
@if (TempData["ErrorMsg"] is not null)
{
    <p style="color: red;">@TempData["ErrorMsg"]</p>
}
<form method="post" autocomplete="off">
    <input required="" type="text" name="Task" placeholder="Yapılacak iş">
    <button>➕</button>
</form>

<h3>Aktif İşler</h3>
@await Html.PartialAsync("_TodoListPartial", 
    new TodoViewModel { TodoId = Model.TodoId, Todos = Model.Todos.Where(x => !x.Completed).ToList()})

<h3>Tamamlanan İşler</h3>
@await Html.PartialAsync("_TodoListPartial", 
    new TodoViewModel { TodoId = Model.TodoId, Todos = Model.Todos.Where(x => x.Completed).ToList()})
